 .mainclr {
   clear: both;
   height: 0;
   line-height: 0;
   font-size: 0;
   margin: 0;
   padding: 0;
   display: block;
 }
 
 body {
   color: #000;
   font-size: 16px;
   font-family:  'AvenirNextLTPro-Regular', sans-serif;
 }

 #logo, #logotop {
   display: block;
   width: 195px;
   height: 165px;
   padding: 0;
   margin:  0px;
   font-size: 120%;
   overflow: hidden;
   position: absolute;
   left: 50%;
   top:  0px;
   margin-left: -890px;
 }
 
 #logo a, #logotop a {
   color: #000;
   width: 195px;
   height: 164px;
   text-decoration: none;
   position: absolute;
   top: 0;
   left: 0;
   text-align: center;
   line-height: 55px;
   padding-left: 10px;
   display: block;
   /*background: transparent url(../images/logo20.png) no-repeat left 0px;*/
   background-size: cover;
 }
 
 #logo span, #logotop span {
   position: absolute;
   top: -1500px;
 }
 #logotop {
   left: 50%;
   margin-left: -495px;
   opacity: 0.2;
 }
.homepage #logotop {
  display: none;
}
#logotop a,  #logo a {
   background: transparent url(../images/topLeft.png) no-repeat left 0px;
   background-size: contain;
 }

/*
 .cena-top  #logotop {
     opacity: 1;
 }
  .cena-top  #logo  {
      opacity: 0.2;
 }
*/
 nav > div {
   width: 1250px;
   margin: 0 auto;
   height: 150px;
   position: relative;
 }
 
 #homeclaim {
   float: left;
   width: 250px;
   margin-lefT: 0;
   margin-top: 15px;
   padding-left:  0px;
 }
 
#homeclaim p {
  margin: 0;
  padding: 0
}
#homeclaim a{
  color: #fff;
  text-decoration: none;
}

 
  #companyLogo {
    height: 100px;
    width: 200px;
    display: block;
    position: absolute;
    right: -260px;
    background: url(/images/logoWhite.png) no-repeat left top;
    margin-top: 30px;
    background-size: contain;
}


#menu1 {
  clear: left;
   float: left;
   width: 220px;
   margin: 10px 0 0 38%;
   padding: 0;
   list-style-type: none;
   display: none;
}
#menu1 a {
  color: #fff;
  margin-right: 10px;
}
#menu1 a:hover{
  text-decoration: none;
}

#homeSlider{
 
  background: url('../images/TOF2021.png') no-repeat -24px  top;
  background-size: contain;
  margin-left:  0px;
  width: 527px;
  float: left;
}
#countdown{
 height: 400px;
 margin-bottom: 25px;
}
#homeSlider {
  height: 200px;
  margin-bottom: 25px;
  margin-left: -20px;
}
#menu {
  width: 23%;
  float: left;
  clear: left;
  padding-top: 0px;
  font-weight: bold;
  padding-left:  0px;
  margin-bottom: 20px;
}
#menu ul {
 /* margin: 80px 0 0 0;*/
 margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: normal;
}
#menu ul a{
  display: block;
  color: #000;
}
#menu a:hover{
    text-decoration: none;
}
#menu span a:last-of-type {
  background: #495a69;
  color: #fff;
  width: auto;
  margin-top: 10px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-family:  'AvenirNextLTPro-Bold', sans-serif;
  display: inline-block;
}
#countdown, #countdownvideo {
  width: 310px;
  height: 327px;
  float: right;
  text-align: center;
  position: absolute;
  overflow: hidden;
  margin-top: -200px;
  right: 0;
  top: 230px;

}
 /*
@-webkit-keyframes pulse {to {background-size: 110%; left: 5px; top: -4px; opacity: 0.2}}
@-moz-keyframes pulse {to {background-size: 115%;; left: 5px; top: -4px; opacity: 0.2}}
@-ms-keyframes pulse {to {background-size: 115%;; left: 5px; top: -4px; opacity: 0.2}}
@keyframes pulse {to {background-size: 110%; left: 5px; top: -4px; opacity: 0.2}}
 */



#countdownvideo div{
  
  background-size: contain;
  width: 100%;
  height:  100%  ;
  position: absolute;
  left: 0;
  top: 0;
 
}
 
#countdown i#pulse{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: -9px;
  background: url(../images/countdownOver.png) no-repeat center center;
  background-size: 100%;
  animation-name: pulse;
  animation-duration: 4s; 
  animation-timing-function: ease-out; 
  animation-delay: 1s;
  animation-iteration-count: infinite;
  opacity: 1;
}
@-webkit-keyframes pulse {
  0% {  transform: scale(1);  opacity: 1; left: 0px;  top: -9px;}  
  25% {  transform: scale(1.1);  opacity: 0; left: 5px; top: -4px;}  
  100%   { transform: scale(1);  opacity: 0; left: 0px;  top: -9px;}   
}
@keyframes pulse {
  0% {  transform: scale(1);  opacity: 1; left: 0px;  top: -9px;}  
  25% {  transform: scale(1.1);  opacity: 0; left: 5px; top: -4px; }  
  100%   { transform: scale(1);  opacity: 0; left: 0px;  top: -9px;}  
}

#countdown i#pulse2{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: -9px;
  background: url(../images/countdownOver2.png) no-repeat center center;
  background-size: 100%;
  animation-name:  pulse2;
  animation-duration: 4s; 
  animation-timing-function: ease-out; 
  animation-delay: 2s;
  animation-iteration-count: infinite;
  opacity: 1;
 
}
@-webkit-keyframes pulse2 {
  0% {  transform: scale(1);  opacity: 1; left: 0px;  top: -9px;}  
  25% {  transform: scale(1.1);  opacity: 0; left: -7px; top: -16px;}  
  100%   { transform: scale(1);  opacity: 0; left: 0px;  top: -9px;}   
}
@keyframes pulse2 {
  0% {  transform: scale(1);  opacity: 1; left: 0px;  top: -9px;}  
  25% {  transform: scale(1.1);  opacity: 0;   left: -7px; top: -16px;}  
  100%   { transform: scale(1);  opacity: 0; left: 0px;  top: -9px;}  
}



#countdown em {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 120px;
    left: 85px;
    font-style: normal;
    font-weight: 800;
}

 
#countdown em.nr {
  color: #fff;
  font-size: 80px!important;
  position: absolute;
  top: 40px;
  left: 35px;
  font-style: normal;
  font-weight: 800;

}

#countdown #co {
  color: #fff;
  font-weight: bold;
  top: 150px;
  left: 135px;
  display: block;
  position: absolute;
  width: 160px;
  height: 140px;
  font-style: normal;
 
}
#countdown #co i {
  margin-top: 37%;
  transform: translateY(-50%);
  display: block;
  font-size: 25px;
  font-style: normal;
}
#countdown div{
  background: url('../images/countdown.png') no-repeat center center;
  background-size: 100%;
  width: 100%;
  height: calc(100% - 20px);
  position: absolute;
  left: 0;
  top: 0;
 
   
}
 
#countdown #numberof{
    font-size: 80px;
    /*110*/
    font-family: 'AvenirNextLTPro-Bold', sans-serif;
    /*padding-top: 110px;*/
    padding-top: 130px;
    display: block;
}
#countdown #numberof.txt{

  font-size: 50px;
  position: absolute;
  text-align: center;
  width: 100%;
  padding-top: 150px;
  z-index: 1000;
}
#countdown  #days {
   clear: right;
   display: block;
   font-size: 30px;
  font-family: 'AvenirNextLTPro-Bold', sans-serif;
  margin-top: -20px;
}

#content .hbox, .newsbox, #content-left span.downs, article.brozury-a-vysledky,   article.vysledky  {
  height: 250px;
  width: 32%;
  float: left;  
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 2%;
  margin-bottom: 2%;
  text-align: center;
  font-family: 'AvenirNextLTPro-Bold', sans-serif;
  padding-left: 5px;
  }
#content-left span.downs, article.brozury-a-vysledky, article.vysledky {
 position : relative;
 border: none!important;
}  
#content-left span.downs .downimg,  article.brozury-a-vysledky .downimg, article.vysledky .downimg {
    width: 55px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 988;
    top: 10px;
    left: 10px;
    background-color: rgba(255,255,255,0.7)!important;
    padding: 10px 10px 0 10px!important;
}
.newmember {
  border: 5px solid #000;
  width: 32%;
  float: left;  
    margin-right: 2%;
  margin-bottom: 2%;
  padding: 15px;
  padding-bottom: 40px;
}
 
article.brozury-a-vysledky, article.vysledky{
 height: 250px;
  width: 32%;
  float: left;  
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 2%;
  margin-bottom: 2%;
  text-align: center;
  font-family: 'AvenirNextLTPro-Regular', sans-serif; 
  display: block;
  border: 5px solid #bebebe;
  position: relative;
}
article.brozury-a-vysledky a, article.vysledky a{
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
  position: relative;
}
article.brozury-a-vysledky .downimg, article.vysledky .downimg {
  width: 55px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
article.brozury-a-vysledky div, article.brozury-a-vysledky div span.downs, article.vysledky div, article.vysledky div span.downs  {
  width: 100%;
  height: 100%!important;
  display: block;
  background-size: cover;
  padding-left: 5px;
}
#content-right .downimg {
  position: relative;
  bottom: auto;
  right: auto;
  margin-top: 10px;
}
#content-right .downs strong a {
  display: block;
}

.newmember2 {
  
  float: left;  
   margin-right: 2%;
  margin-bottom: 2%;
 
}

.newmember2:nth-of-type(3n + 0){
 
 
}

.newmember2:nth-of-type(3n + 1){
 
 
}
.newmember2:nth-of-type(3n + 2){
 
 
}
.newmember2:nth-of-type(3n + 3){
 
  margin-right: 0 !important;
}
.newmember img {
  border: none!important;
  float: right!important;
}
.newmember h3{
  margin: 0;
}

#content .hbox div:first-of-type  {
     height: 50%;
     position: relative;
    margin: 0;
   
}
#content .hbox p, #content .hbox a{
  /*padding: 0 20px;
  margin: 0;
  color: #000;
  font-size: 25px;
  text-align: center;*/
  text-align: left;
  font-size: 12px;
  font-weight: 400;

  
}
#content .hbox a{
text-decoration: none;
 /* 
  display: block;
  margin-top: 125px;
    -ms-transform: translateY(-50%); /* IE 9 */
  /*  -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
  /*  transform: translateY(-50%);  */
}
#content .hbox a:hover{
  text-decoration:  underline
}
#content .hbox:nth-of-type(3n + 0) , .newsbox:nth-of-type(3n + 0), article.brozury-a-vysledky:nth-of-type(3n + 0) , article.vysledky:nth-of-type(3n + 0)  {
  margin-right: 0%!important;
}
#news1 {
   background-image: url('../images/azur.jpg')
}
#twitter {
  background: #f3f8fb;
  padding: 10px;
 
}
 #partners {
   width: 100%;
   overflow: hidden;

 }
#partners h2 {
  color: #fff;
  background: #839098;
  padding: 10px 15px;
      font-size: 100%;
}
footer div div.tretina {
  width: 33%;
  float: left;
  padding: 25px;
  border-right: 1px solid #fff;
 
}
.microdata span{  display: block; float: left;}
.microdata span.break {
  clear: left;
}
.microdata .not { display: none; }
footer h4 { margin: 0 0 10px 0;
  width: 100%;
  display: block;
 }
 
footer ul, footer li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  clear: left;
  width: 100%;
}
footer   a{
  color: #fff;
}
footer div  {
  display: flex;
  flex-wrap: wrap;
}
.slick-arrow { display: none!important; }
.caption {
  floaT: left;
  padding: 10px;
  margin: 0 1em 1em 0 ;
  background: #f9f8fa;
}
.caption img{
  display: block;
  
}
img.left{
  float: left; 
    margin: 0 1em 1em 0 ;
    border: 10px solid #f9f8fa;;
}
.newsbox {
  padding: 0;
   position: relative;
}
#countdown + .newsbox  {
  clear: both;
  
}
.newsbox h2, article.brozury-a-vysledky h2, article.vysledky h2, #content-left span.downs h2  {
    font-size: 120%;
    display: inline;
    white-space: pre-wrap;
    background-color: rgba(57,72,79, 1);
    -webkit-box-shadow: -5px 0px 0px 0px rgba(57,72,79,1);
    -moz-box-shadow: -5px 0px 0px 0px rgba(57,72,79,1);
    box-shadow: -5px 0px 0px 0px rgba(57,72,79,1);
    margin-top: 150px;
    padding-bottom: 2px;
    padding-top: 2px;
    line-height: 23px;
}
article.brozury-a-vysledky h2, article.vysledky h2, #content-left span.downs h2 {
  position: absolute;
  bottom: 0;
  left: 0; 
  margin-top: auto!important;
  margin-bottom: 0!important;
   margin-left: 2px;
}
.newsbox h2 span, article.brozury-a-vysledky h2 span, article.vysledky h2 span , #content-left span.downs h2 span  {
  -webkit-box-shadow: 5px 0px 0px 0px rgba(57,72,79,1);
  -moz-box-shadow: 5px 0px 0px 0px rgba(57,72,79,1);
  box-shadow: 5px 0px 0px 0px rgba(57,72,79,1);
    padding-bottom: 2px;
    padding-top: 2px;
        color: #fff;
        margin-left: 2px;
}


.newsbox h2:hover{
    background-color: rgba(64,64,64, 1);
    -webkit-box-shadow: -5px 0px 0px 0px rgba(64,64,64,1);
    -moz-box-shadow: -5px 0px 0px 0px rgba(64,64,64,1);
    box-shadow: -5px 0px 0px 0px rgba(64,64,64,1);
    margin-top: 150px;
}
.newsbox h2 span:hover {
  -webkit-box-shadow: 5px 0px 0px 0px rgba(64,64,64,1);
  -moz-box-shadow: 5px 0px 0px 0px rgba(64,64,64,1);
  box-shadow: 5px 0px 0px 0px rgba(64,64,64,1);
    padding-bottom: 2px;
    padding-top: 2px;
}


.newsbox h3{
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 19px ;
  padding: 5px;
  margin: 0;
  background: #c7332c;
  background: #50c3c6;
  display: block;
}
#navigationWrapper { margin-bottom: 2em ; position:relative; clear: both;}
.newsbox h2 a { color: #fff; text-decoration:  none; font-size: 19px }
.newsbox h2 a:hover { color: #fff; text-decoration:  none; background: #404040}
.mydate {    font-family:  'AvenirNextLTPro-Regular', sans-serif; position: absolute; top: 0; right: 0; background: rgba(57,72,79,0.3); margin: 0; display: block; padding: 5px; color: #fff ; font-size: 15px }
 .newsin { margin-left: 5px; position: absolute; bottom:1px; padding: 0 30px 0  0px; text-align: left; }
 .homepage .newsin {  bottom: 1px;  }

 #news4 h2 span a { 
   position: absolute;
   display: block;
   top: -180px;
   left: 10vw;
   width: 92px;
   height: 125px;
   background: url('../images/sipkazoom.png');
   background-size: cover;
   z-index: 900;
   /*
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);  */ 
   text-indent: -5000px;
      -webkit-transition: all 0.7s ease;
   transition: all 0.7s ease;   
 }
 
  #news4 h2 span a:hover { 
    opacity: 0.8;
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
 }
 
#cnt2 .kat {
      background: rgba(131,144,152, 0.05);
      background: #969696;
      background: #bebebe;
}
 

 .pager, .pagerrim, .pagerselected {
   display: block;
   float: left;
   margin-left: 2px;
   padding: 0.2em;
   min-width: 1.5em;
   width: auto!important;
   height: 1.7em;
   line-height: 1.3em;
   text-align: center;
   vertical-align: middle;
   text-decoration: none;
   color: #fff;
   background: #839098;
 }
 
 .pagerrim {
   width: auto!important;
   padding: 0.2em 0.5em 0.2em 0.5em;
 }
 
 .pagerselected {
   color: #fff;
   background: #000;
 }
 
 a.pager:hover, a.pagerrim:hover {
   color: #fff !important;
   background: #000;
   width: auto!important;
 }

 #content-left {
    
    float: left;
       width: calc(70% - 190px);
 } 
 #content {
       width: calc(100% - 190px);
       float: right; 
 }
 .homepage #content {
   width: 100%;
   float: none
 }
  article h1{
    margin-top: 0;
 }
 #content-right {
   width: 25%;
   float: right;
 }
 
 #content-right .newsbox{
   width: 100%;
   height: 200px;
 }
 .newsbox.opened {
 -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.7;
 }

  .social {
    display: block;
    float: right;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #707070;
    background: transparent;
    font-size: 50px;
    text-decoration: none;
}
 .social span {
    display: none;
}
 .social:hover {
   color: #3b5998;
 }
 
  .fa-youtube-square:hover {
   color: #CD181F
 }
 
 .fa-twitter-square:hover {
   color: #1da1f2
 }
  .fa-instagram:hover {
   color: #c72b8a
 }
  .fa-linkedin-square:hover {
   color:  #0177b5
 }
 
 footer div div.tretina:nth-of-type(3) { border: 1px solid #000!important }

 div.singlemenu ul, div.singlemenu li {
   list-style-type: none;
   text-transform: lowercase;
   margin: 0;
   padding: 0;
 }
 div.singlemenu a{
      font-family:  'AvenirNextLTPro-Bold', sans-serif;
      text-decoration: none;
 }
 div.singlemenu a:hover{
    text-decoration: underline;
 }
  div.singlemenu    {
    width: 160px;
    padding-top: 15px;
    float: left;
     height: auto;
     display: block;
         padding-bottom: 450px;
  }
  #singlemenu3, #singlemenu3-sticky-wrapper {
  display: block;
  width: 190px;
   float: left;
    height: auto;
}
#singlemenu0, #singlemenu0-sticky-wrapper {
  display: none ;
  height: 0px ;
} 
.cena-top #singlemenu3, .cena-top #singlemenu3-sticky-wrapper {
  display: none ;
  height: 0px ;
}
.cena-top #singlemenu0, .cena-top #singlemenu0-sticky-wrapper {
  display: block;
  width: 190px;
   float: left;
   height: auto;
}

.countmore {
  width: 27%!important;
}
 
 /*
   div.singlemenu    {
   height: 40px;
   width: 100%!important;
   background: #839098;
 
   margin: 0;
   list-style-type: none;
    
 }

 .singlemenu ul {
   margin: 0 calc((100% - 1250px)/2);
   padding: 5px 0 0 0 ;

 }
 .sticky-wrapper{
      width: 100%!important;
 }
 .singlemenu li{
   display: inline-block;
 }
 .singlemenu ul li a {  color: #fff ;
  display: block;
  padding: 5px 10px;
  text-decoration: none; 
 }
 .singlemenu ul li a:hover, .singlemenu ul li.active a {  
   color: #fff ;
   background-color: #616d75;
 } 

*/
#content-right #twitter {
  margin-top: 20px;
  clear: both;
  border-top: 30px solid #fff;
}
 

 .imggal {
   width: 24%;
   height: calc(100vw / 8);
   
   position: relative;
   overflow: hidden;
   float: left;
   margin-right: 1%;
   margin-bottom: 0 ;
   border: 0px solid #e7e7e7;
   padding: 0;
   background: #e7e7e7;
 }
 
 section#content-left .imggal {
  /* height: calc(100vw / 12);*/
 }
 
 .imggal:nth-child(4n + 0) {
   margin-right: 0;
 }
 #main .imggal a {
   display: block;
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   -webkit-transition: all 0.7s ease;
   transition: all 0.7s ease;   
 }
 #main .imggal img {
   float: none;
   border: none!important;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
   min-height: 102%;
   -webkit-transition: all 0.7s ease;
   transition: all 0.7s ease;
   display: none;
 }
 
 #main .imggal imgy:hover {
   float: none;
   border: none!important;
   width: 100%
 }
 
 #main .imggal a:hover   {
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
 }

#navigation .fa a, #navigation .fa span, #navigation .fa em  {
  padding-left: 5px;
     font-family:  'AvenirNextLTPro-Regular', sans-serif;
     font-style: normal
}
#navgation .first { padding-right: 5px; }

.singlemenu li {
  position: relative;
}
.singlemenu ul.folder{
    position: absolute;
    display: block;
    z-index: 800;
    margin: 0;
  background : #ededed;
  display: none;
  padding: 15px;
  left: 30px;
  width: 400px;
}



.singlemenu ul.folder a, .singlemenu ul.folder li{
  width: 100%;
}
#menu .folder {
  display: none;
}

#menu .kategorie {
  display: block;
}
#menu .kategorie  li{
  display: none;
}
#menu .kategorie  li:first-of-type{
  display: block;
}

#content-right  h2 {
  font-weight: normal;
  margin-top: 0.5em;
  font-family: 'AvenirNextLTPro-Regular', sans-serif;
  background: rgba(64, 64, 64, 0.4)!important;
 margin: -15px -15px 15px -15px;
  padding: 15px;
  color: #fff;
  font-size: 20px;
}

.cena-top #content-right {
  background: rgba(131,144,152, 0.05);
  background: #bebebe;
  background: rgba(64, 64, 64, 0.1)!important;
 


  padding: 15px;
    margin-top: -3em;
}

.cena-top #content-right .kat span {
   display: block;
   margin-bottom: 0.5em;
}
.cena-top #content-right .kat {
   padding-bottom: 1em;
}

.kat h4  {
   margin-top: 0; 
}

 .hidetooltip {
   z-index: 800; 
   position: absolute;
   color: #FFFFFF;
   text-align: center;
   padding: 0px;
   padding: 10px;
   background: #839098;
   border-radius: 2px;
   -webkit-filter: drop-shadow(5px 5px 2px #E0E0E0);
   filter: drop-shadow(5px 5px 2px #E0E0E0);
   display: none;
   top: -10px;
   left: 40px;
   text-align: left;
   font-size: 80%;
   -ms-transform: translateY(-100%); /* IE 9 */ 
   -webkit-transform: translateY(-100%); /* Safari */ 
   transform: translateY (-100%); /* Standard syntax */ 
}
 .titleceeper:hover .hidetooltip {
   display: block;
 }
 .hidetooltip:after {
   content: '';
   position: absolute;
   border-style: solid;
   border-width: 15px 15px 0;
   border-color: #839098 transparent;
   display: block;
   width: 0;
   z-index: 1;
   bottom: -14px;
   left: 18px;
}

 .titleceeper span ul    {
   color: #fff;
   margin: 0 0 0 1em;
   padding: 0;
 }
 .titleceeper span ul li ,  .titleceeper span ul li span  {
   color: #fff!important ;
 }
 .titleceeper .jump {
   display: block;
 }

 .homepage #menu ul a.submenu { display: none; } 


 #kroky3 {
   margin: -25px -15px -15px -15px;
   padding: 15px;
   text-align: center;
   background: rgb(76,172,188)!important;
   background: linear-gradient( 90deg , #4aabc4 0%, #66b867 100%)!important; 
 }
#kroky3 h2 span{
  display: block;
  font-size: 90px;
}
#kroky3 h2 {
font-family:  'AvenirNextLTPro-Bold', sans-serif;
color: #fff;
background: transparent!important;
}
#kroky3 .number{
  display: block;
  color: #000;
  width: 70px;
  height: 70px;
  line-height:70px;
  font-size: 40px;
  margin-bottom: 1em;
 /*  -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;*/
   background: url(/images/numbers3.png) no-repeat center center;
   background-size: contain;
   font-family:  'AvenirNextLTPro-Bold', sans-serif;
   margin: 0 auto 1em auto;
   
}
.stpesafter #kroky3 {
  margin-top: 1em;
   border-top: 15px solid #fff;
}


a.smallreg ,
input.smallreg{
 background: #007bff  ;
  color: #fff;
 padding: 10px 30px;
 width: auto;
 border: none;
 margin-top: 10px;
  font-size: 16px;
} 
 .smallreg:hover{
  background:  #404040!important;
 }
#cnt .kat{
  margin-top: 15px;
 background: rgba(131,144,152, 0.05);

}
form .kat{
   padding: 15px;
 margin-bottom: 15px;
}
#content-right p.kat {
 
}
/*
#content-right p.strategicke {
  background: #d0eaf7!important;
  padding-top: 5px;
}
#content-right p.projektove {
  background: #fcd2e1!important;
   padding-top: 5px;
       padding: 10px;
}
#content-right p.kat_komunita {
  background: rgba(225, 129, 57, 0.4)!important;
   padding-top: 5px;
       padding: 10px;
}

#content-right p.kat_emplo {
  background: rgba(156, 152, 203, 0.4)!important;
   padding-top: 5px;
       padding: 10px;
}

#content-right p.kat_eko {
  background: rgba(169, 207, 56, 0.4)!important;
  padding-top: 5px;
  padding: 10px;
}
#content-right p.kat_reporting {
  background: rgba(236, 129, 180, 0.4)!important;
  padding-top: 5px;
  padding: 10px;
}

#content-right p.specialni {
  background: #f1fbd3!important;
   padding-top: 5px;
       padding: 10px;
}

#content-right p.kat_komunita a, #content-right p.kat_emplo a , #content-right p.kat_eko a  {
  background: rgba(225, 129, 57, 0.5)!important;
  display: inline-block;
  width: auto;
  padding: 5px 10px;
  margin-top: 5px;
  margin-right: 3px;
  font-size: 90%
}
#content-right p.kat_emplo a {
  background: rgba(156, 152, 203, 0.5)!important;
}
#content-right p.kat_eko a  { 
  background: rgba(169, 207, 56, 0.5)!important;
}
#content-right p.kat_komunita a:hover, #content-right p.kat_emplo a:hover,  #content-right p.kat_eko a:hover   {
  background: rgba(225, 129, 57, 0.9)!important;
  display: inline-block;
  width: auto;
  padding: 5px 10px;
  margin-top: 5px;
  margin-right: 3px;
}
#content-right p.kat_emplo a:hover {
  background: rgba(156, 152, 203, 0.9)!important;
}
#content-right p.kat_eko a:hover  { 
  background: rgba(169, 207, 56, 0.9)!important;
}

*/








.odpovedne-firmy #partners {
  display: none;
}
.pribehy-z-praxe .kat{
  margin-top: 1em;
}
 
 
.kat input, .kat textarea, #content-right input{
 
  border: none;
  padding: 10px 15px;
  margin-bottom: 10px;
} 
 .newsbox a{
   display: block;
   width: 100%;
   height: 100%;
  text-decoration: none;
 }
 section .kat { padding: 10px }

 .nonww {
   position: absolute;
   z-index: 1000;
 }
 #content-right .downs{
  /* width: 100%;*/
   height: auto;
   margin : 10px;
   font-size: 90%;
   display: block;
   padding: 10px;
 }
.videoYT, .videoYT iframe, .videoYT  object {
  max-width: 100%!important;
   
}

#startmenu {
    display: none;
    cursor: pointer;
    background-color: #404040;
    background-image: url(../images/mini-menu.png);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 45px;
    height: 35px;
    margin: 10px 8px 0 0;
    floaT: right;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
}
#mini-menu li a{
  display: block;
  clear: left;
  text-decoration: none;
    padding: 2px 0;
    margin: 2px 0;
    border-bottom: 1px solid #e7e7e7;
}
#mini-menu .folder {
  margin-left: 15px;
  padding-left: 0;
}
#mini-menu li a:hover{
   background: #e7e7e7;
}
.margleft {
  margin-left: 10px;
}

.tag {
  background: #e7e7e7;
  display: block;
  float: left;
  margin-right: 10px;
  padding: 5px 10px;
}
#main{
  position: relative;
}
#content-right{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
#printMe{
  color: #fff;
    background: black url('../images/print.png') no-repeat 8px center;
    border: none;
    padding: 15px 25px 15px 50px;
    float: right;
    background-size: 35px;
    cursor: pointer;
}
#printMe:hover{
  background-color: red;
}
label.odskok {
  margin-bottom: 1em;
  clear: both;
}
.cena-top .downs{
  background: #e7e7e7;
  height: auto!important;
  min-height: 80px;
}
.cena-top .downs strong{
  margin-top: 1em
}

.scrl {
  float: right;
  color: #fff;
  margin-right: 7px;
  font-size: 12px;
  line-height: 38px;
   background: transparent!important
}

/*
.scrl {
  float: right;
  color: #404040;
  margin-right: 7px;
  font-size: 12px;
  line-height: 20px;
  background: #d0eaf7!important;
  padding: 0 10px;
  border-radius: 3px; 
  margin-top: 10px;
}

.scrl.kat_clients {
  background: #eaa775!important;
}
.scrl.hr {
  background: #b9b7db!important;
}
.scrl.kat_clients {
  background: #eaa775!important;
}
.scrl.kat_eko{
  background: #c3de73!important;
}
*/
#immerSend.Normal {
background: rgb(76,172,188)!important;
background: linear-gradient(90deg, rgba(76,172,188,1) 0%, rgba(100,182,109,1) 100%)!important;
}
.newsbox h3 {

  background: #c7332c;
  background: #50c3c6;
  background: rgb(76,172,188)!important;
  background: linear-gradient(90deg, rgba(76,172,188,1) 0%, rgba(100,182,109,1) 100%)!important;
}

#content .hb7 {
  font-weight: 400!important;
  font-family: 'AvenirNextLTPro-Regular', sans-serif;
  font-size: 15px!important;
  width: calc(100% - 550px);
  position: relative;
}
#content .hb7:before {
  background:   url('/images/21honey.jpg') no-repeat left top;
  content: '';
  position: absolute;
  left: -20px;
  top: -20px;
  display: block;
  background-size: contain;
  width: 100px;
  height: 100px;
  opacity: 0.5;
}
#content .hb7 p, #content .hb7 a {
  text-align: left;
  font-size: 15px;
  font-weight: 400;
}
 