



@media screen and (max-width: 1800px) {  
  #companyLogo {
   right:  10px;
}
nav > div {
 position: initial;
}
#logo, #logotop {
  left:  0px;
  margin-left: 10px;

}
 
}
@media screen and (max-width: 1700px) {  
  #homeclaim {
   
    margin-lefT: 100px;
 
}
  }
@media screen and (max-width: 1450px) {  
#homeclaim {
  float: left;
  width: 250px;
  margin-lefT: 170px;
}
}
 @media screen and (max-width: 1380px) {  
 #logo {    left:  0%;  margin-left: 0px; }
 #homeclaim, #menu1 { margin-lefT: 200px; }
 
#homeSlider {
 
    margin-left:  0px;
}
 } 

 @media screen and (max-width: 1230px) {  
    section , footer div, #wrapper, nav { width: 100%; padding-left: 1%;  padding-right: 1%;   }
    #slideshow, section#content , #main { width: 100%!important }
    section, section#content { margin: 10px;   width: calc(100% - 20px)!important; }
    .homepage section#content {padding:   0!important;}
    nav > div {  width: 100%; }
 } 
 @media screen and (max-width: 1100px) {  

  #content .hbox { width: 49%; margin-right: 0%!important; }  
  #content .hbox:nth-of-type(3n + 0)  {  margin-right: 0%!important; }
  #content .hbox:nth-of-type(2n + 0)  {  margin-right: 2%!important; }  
}
 @media screen and (max-width: 1000px) {  
  #menu {  margin-left: 10px;}
  #menu ul {  margin: 10px 0 0  0px; }
    #homeSlider,  #menu{ height: 300px;  margin-bottom: 25px; }
  #countdown #numberof { font-size: 80px; padding-top: 70px; }
     #content .hbox, .newsbox { width: 49%; margin-right: 2%; }
     #content .hbox:nth-of-type(3n + 0), .newsbox:nth-of-type(3n + 0) {  margin-right: 2%!important; }
     #content .hbox:nth-of-type(2n + 0), .newsbox:nth-of-type(2n + 0) {  margin-right: 0%!important; }     
  } 

 @media screen and (max-width: 900px) {  
 
 } 
 @media screen and (max-width:950px) {   
   #countdown { display: block;  float: none; clear: both; position: relative; }
   #menu  { width: 100%;  float: none}
   #homeSlider  { width: 100%;  float: none; height: 250px;}
   .hbox , .hb7 { height: auto!important; }

   #homeclaim, #menu1 { margin-left: 2%;     padding-left: 20px; }
  #content .hbox { width: 100%; margin-right: 0%!important; }  
  #content .hbox:nth-of-type(3n + 0)  {  margin-right: 0%!important; }
  #content .hbox:nth-of-type(2n + 0)  {  margin-right: 0%!important; }  
  footer div div.tretina {
    width: 100%;
    clear: both;
    float: none;
    border-right: 0px solid #fff;
    border-bottom: 1px solid #fff;
  }

  #logo { display: none;}

  #countdown, #countdownvideo {
 
      margin-top:  0px; 
 
    top:  0px; 
}


 } 
  
 
   @media screen and (max-width: 500px) {  
    #homeclaim { width:  100%; margin-left: 1%; margin-top: 150px; floaT: none;}
    #menu1 { width:  100%; margin-left: 1%; margin-top:10px; floaT: none; }    
    nav, nav div {  height: auto;}
    nav {  padding-bottom: 20px;}
    #homeSlider { widtH: 90vw; height: 40vw;  background-size: contain; margin-left:  0px;  background-position:  left top;   float: none;}
    #menu { width: 100%;  height: auto; }
 
   #companyLogo { left: 20px;
    right: auto;
    top: 0;}
     #content .hbox, .newsbox { width: 100%; margin-right: 0%; }
     #content .hbox:nth-of-type(3n + 0), .newsbox:nth-of-type(3n + 0) {  margin-right: 0%!important; }
     #content .hbox:nth-of-type(2n + 0), .newsbox:nth-of-type(2n + 0) {  margin-right: 0%!important; }    
 } 
