html, body {
font-family:  sans-serif;
 color: #000;
 font-size: 16px;
 
 background-color: #fff;
}
.strategicke{
  color: #000
}
.tematicke {
color: #000
}
.specialni{
color: #000
}
 a{ color: #000; }
 section a:hover{ text-decoration:  none }
 h1, h2,h3,h4,h5 {
   font-family:  'AvenirNextLTPro-Bold', sans-serif;
 }
 h1 {
   font-size: 28px;
 } 
} 
#text td{
vertical-align:top;
}
ul{
 list-style-type: square;
}
 li{
 
}
ul li span, #content li span, #content li label{
 color: #000 ;
}
section  ul li {
  list-style-image: url('../images/sipkali.png')
}
.hidetooltip ul li, #menu ul li {
  list-style-image: none
}
form{
 margin: 0;
 padding: 0;
}
fieldset{
 border: none;
}
#content #text  a.gal img{
 float: left;
 padding: 2px;
 border: 1px solid #e7e7e7;
 margin: 5px 5px 0 0;     
 padding: 5px;
 width: 135px;
}
.imggal{
 margin-top: 1em;
}
#content #text #intext .pparts{
 clear: both;
 margin-top: 0.5em;

}
.mainclr{
 clear: both;
 margin: 0;
 padding: 0;
 height: 0;
 font-size: 0;
 padding: 0;
 height: 0;
 
}
table, tr, th, td {
	border-collapse: collapse;
	border: 1px solid #c0c0c0;
}
table {
	border: 5px solid #c0c0c0;
}
th, td {
	padding: 5px 8px;
	text-align: left;
	vertical-align: top;
}
#content  ul, #content li{
 margin-left: 0;
 padding: 0;
}
#content ul{
 margin-left: 1.5em;
}
#content #sidebox a.new_window_link img, #content a.new_window_link img, img.downimg, #map_canvas img {
 border: none!important;
 padding: 0!important;
 background: transparent!important;
}

#map_canvas{
 border: 1px solid #fff;
 overflow: hidden;
 margin: 1em 0;
}
 
p.odpaly{
 margin: 10px 15px;
}
#content #text .ref fieldset p{
 margin: 10px;
}
 

.pribehy-z-praxe .kat{
  padding: 1em ;
 border: 5px solid #000;
 padding-bottom: 2em;
}

.pribehy-z-praxe #content-right .kat{
 padding-bottom: 1em;
}

ol li{
 margin-bottom: 0.5em;
}
/*
.hibox_leader a.log, .hibox_work a.log,  .hibox_market a.log, .hibox_komunita a.log, .hibox_green a.log, , .hibox_vize a.log, .hibox_o2 a.log, .hibox_leader a.more, .hibox_work a.more, .hibox_komunita a.more, .hibox_market a.more, .hibox_green a.more, .hibox_vize a.more, .hibox_o2 a.more{
 position: absolute;
 display: block;
 bottom: -8px;
 right: 80px;
 line-height: 16px;
 width: 60px;
 font-size: 11px;
 text-align: center;
 background: #323E7A;
 color: #fff;
 text-decoration: none;
 
}
.hibox_leader a.more, .hibox_work a.more, .hibox_komunita a.more, .hibox_market a.more, .hibox_green a.more, .hibox_vize a.more, .hibox_o2 a.more{
 right: 10px;
}
.hibox_leader a.log:hover, .hibox_work a.log:hover, .hibox_market a.log:hover, .hibox_komunita a.log:hover, .hibox_green a.log:hover, .hibox_vize a.log:hover, .hibox_o2 a.log:hover, .hibox_leader a.more:hover, .hibox_work a.more:hover, .hibox_market a.more:hover, .hibox_komunita a.more:hover, .hibox_green a.more:hover, .hibox_vize a.more:hover, .hibox_o2 a.more:hover{
 
 text-decoration: underline;
  

}

.hibox_leader{

border-width: 0;
 
padding: 1em 1em 2em 1em;
position: relative;
}
.hibox_leader h4{

}
.hibox_leader a, .hibox_leader a:hover{

}
.hibox_work{
border-width: 0;
 
position: relative;
}
.hibox_work h4, .hibox_work a, .hibox_work a:hover{

 margin-top: 0;
}
.hibox_work a.log, .hibox_work a.more {

}
.hibox_work a.log:hover, .hibox_work a.more:hover{


}
.hibox_komunita{

border-width: 0;
 
position: relative;
}
.hibox_komunita h4, .hibox_komunita a, .hibox_komunita a:hover{

  margin-top: 0;
}
.hibox_komunita a.log, .hibox_komunita a.more {

}
.hibox_komunita a.log:hover, .hibox_komunita a.more:hover{

}
.hibox_green{

border-width: 0;
 
position: relative;
}
.hibox_green h4, .hibox_green a,  .hibox_green a:hover{

  margin-top: 0;
}
.hibox_green a.log, .hibox_green a.more {

}
.hibox_green a.log:hover, .hibox_green a.more:hover{

}

  .hibox_vize{

border-width: 0;
 
position: relative;
}
.hibox_vize h4, .hibox_vize a{

  margin-top: 0;
}
 
.hibox_vize a.log, .hibox_vize a.more, .hibox_vize a.more:hover {

}
.hibox_vize a.log:hover, .hibox_vize a.more:hover{

}

.hibox_o2{

border-width: 0;

padding: 1em 1em 2em 1em;
 position: relative;
}
.hibox_o2 h4{

}
.hibox_o2 a.log, .hibox_o2 a.more {

}
.hibox_o2 a.log:hover, .hibox_o2 a.more:hover{

}


.hibox_csr{

border-width: 0;

padding: 1em 1em 2em 1em;
 position: relative;
 margin-bottom: 10px;
}
.hibox_csr h3{
  margin-top: 0;
}
.hibox_csr a.log, .hibox_csr a.more {

}
.hibox_csr a.log:hover, .hibox_csr a.more:hover{

}

.hibox_market{

padding: 1em 1em 1.5em 1em;
position: relative;
}
.hibox_market h4{

}
.hibox_market a.log, .hibox_market a.more {

}
.hibox_market a.log:hover, .hibox_market a.more:hover{

}
.hibox_market h4, .hibox_market a, .hibox_market a:hover {

}

.hibox_bench{


padding: 1em 1em 1.5em 1em;
position: relative;
}
.hibox_bench h4{
}
.hibox_bench a.log, .hibox_bench a.more {

}
.hibox_bench a.log:hover, .hibox_bench a.more:hover{

}
.hibox_leader a.log, .hibox_work a.log,  .hibox_market a.log, .hibox_komunita a.log, .hibox_green a.log, .hibox_vize a.log, .hibox_o2 a.log {
display: none;
}
/* novinky matejska */
/*
.program1 h3, .program1 h3 a, .program1 h3 a:hover, .xprogram1 h3, .xprogram1 h3 a, .xprogram1 h3 a:hover{
  color: #7e123f!important;
}
.program1{
background: #fef0f7 ;
}

.program2 h3, .program2 h3 a, .program2 h3 a:hover,  .xprogram2 h3, .xprogram2 h3 a, .xprogram2 h3 a:hover{
  color: #259b9f!important;
}
.program2,{
background: #e5efef ;
}

.program3 h3, .program3 h3 a, .program3 h3 a:hover,  .xprogram3 h3, .xprogram3 h3 a, .xprogram3 h3 a:hover{
  color: #6ea94f!important;
}
.program3{
 background: #ecfae4 ;
}


.program4 h3, .program4 h3 a, .program4 h3 a:hover, .xprogram4 h3, .xprogram4 h3 a, .xprogram4 h3 a:hover{
 color:#da741b;
}
.program4{
background: #fdf5ed ;
}

.program5 h3, .program5 h3 a, .program5 h3 a:hover, .xprogram5 h3, .xprogram5 h3 a, .xprogram5 h3 a:hover{
  color: #1d5d76!important;
}
.program5{
background: #f1fafd ;
}
.hibox_green, .hibox_vize, .hibox_market, .hibox_work, .hibox_komunita , .hibox_leader {
 margin-bottom: 10px;
}
.hibox_green h3, .hibox_vize h3, .hibox_market h3, .hibox_work h3, .hibox_komunita h3, .hibox_leader h3 {
 margin-top: 0px;
}
*/
.odskok{
 margin-top: 2em;
}
#sidebox .kat{
 padding: 5px;
 font-size: 90%;

}
#sidebox .kat span{
 font-size: 85%;
 margin-bottom: 5px;
 display: block;
}
#sidebox .kat span b{
 font-size: 110%;

}
.xseachinput em{
 display: block;
 floaT: left;
 width: 1.5em;
 text-align: center;
}
.xseachinput em.longer{
 display: block;
 floaT: left;
 width: 5em;
 text-align: left;
 margin: 0 0.5em 1em ;
 padding-right: 1em;
 border-right: 1px solid #efefef;

}
.cuk{
 /*margin-left: 1em;*/
}
.mytab{
 width: 700px;
 overflow: auto;
 background: #fff;
}
.hibox_komunita a.alltext, .hibox_work a.alltext, .hibox_green a.alltext, .hibox_vize a.alltext, .hibox_market a.alltext {
 text-decoration: underline;
 float: right;
 cursor: pointer;
}
.hibox_komunita a.alltext:hover, .hibox_work a.alltext:hover, .hibox_green a.alltext:hover, .hibox_vize a.alltext:hover, .hibox_market a.alltext:hover {
 text-decoration: none;
 float: right;
}
.new{
  background: #ffcbd5 ;
  border: 1px solid red;
  color: red;
  font-size: 95%;
  padding:  1px 3px;
  margin: 0 5px;
}
.euro {
  background: #a1a3ff ;
  border: 1px solid blue;
  color:  blue;
  font-size: 90%;
  padding:  1px 3px;

}
hr{
 
  border: none;
  background: none;
  border-top: 1px dotted #4B646C 
}
ul.odpaltrochu li{
 margin-bottom: 0.5em
}
textarea {
font-family:  sans-serif;
 color: #4b646c;
 font-size: 85%;
 }
 .hibox_csr li {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 2px dotted #D5ED9F  ;
  margin-right:10px;
 }

 p {
   margin: 0;
   padding: 0;
 }

 .error-message {
    background: #FF4B00;
    color: white;
    opacity: 1;
    font-size: 14px;
    padding: 3px;
    border-radius: 2px;
    clear: both;
}
h2.strategicke, h3.strategicke, p.strategicke, h2.tematicke, h3.tematicke, p.tematicke, h2.specialni, h3.specialni, p.specialni   
{ position: relative; padding-bottom: 5px; padding-top: 5px; }

h2.strategicke, h2.tematicke, h2.specialni { 
   background: #86cae8;
   margin-bottom: 0;
   padding-left: 10px;
   padding-left: 10px;
 }
 h2.tematicke {
   background: #f397bb
 }
  h2.specialni {
   background: #daf48e
 }
 h3.strategicke, p.strategicke, h3.tematicke, p.tematicke, h3.specialni, p.specialni {
   background: #d1e9f5;
   padding: 10px;
   margin-top: 5px;
   margin-bottom: 0;
 }
 h3.tematicke, p.tematicke {
    background: #fcd2e1;
 }
 h3.specialni, p.specialni {
    background: #f1fbd3;
 }

 p.strategicke, p.tematicke,  p.specialni { padding-top: 0; margin-top: 0; }
 